* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  --el-color-primary: #31c27c;
}

#app {
  width: 1523.7px;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #b2b2b2;
}